require_dependency 'fi_lab_infographics'

FiLabInfographics.setup do |config|
  # Node.js proxy for monitoring
  # config.nodejs = 'http://127.0.0.1:1026'
  # config.timeout = 5
  # config.nodata = 'No Data'
  # config.jira = 'http://jira.fi-ware.org'
  # config.jira_username = 'jira_username'
  # config.jira_password = 'jira_password'
  # config.jira_test = 1
  # config.jira_default_project = 'FIL'
  # config.jira_success_message = 'Thanks for reporting your issue. You will receive a notification for every update to the issue.'

end
