<script type="text/javascript" src="http://jira.fi-ware.org/s/d41d8cd98f00b204e9800998ecf8427e/en_GB-ww4o11-1988229788/6163/29/1.4.3/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=9d572d54"></script>
<script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
	"triggerFunction": function(showCollectorDialog) {
		//Requries that jQuery is available! 
		jQuery("#myCustomTrigger").click(function(e) {
			e.preventDefault();
			showCollectorDialog();
		});
	}};</script>

        <div class="help-bar">
          <div class="help-box span3">
            <%= link_to (raw('
              <img src="/assets/status.png">
              <div>
                <h4>FIWARE Lab status</h4>
                  Check the status of FIWARE Lab
              </div>')), root_url(subdomain: 'status.lab') %>
          </div>
           <div class="help-box nst span3">
             <%= link_to (raw('
              <img src="/assets/map.png">
              <div>
               <h4>FIWARE Lab nodes</h4>
                 Who are FIWARE Lab nodes
             </div>')), root_url(subdomain: 'infographic.lab') %>
          </div>
          <div class="help-box nst span3">
            <a href="http://ops.fiware.org" target="_blank">
              <img src="/assets/fi-ops.png">
              <div>
                <h4>Operating FIWARE Lab</h4>
                  Learn about FIWARE Ops
              </div>
            </a>
          </div>
          <div class="help-box nst span3">
            <!-- <a href="http://join.lab.fiware.org" target="_blank">-->
            <a href="#" id="myCustomTrigger">
              <img src="/assets/join.png">
              <div>
                <h4>Be part of FIWARE Lab</h4>
                  Connect your Cloud to FIWARE Lab
              </div>
            </a>
          </div>
          <div class="clear"></div>
        </div>

