<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconOmino.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="usersNum"></span> users
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel smallPanel">
				<div id="bigMen"></div>
				<div id="mediumMen"></div>
				<div id="smallMen"></div>
			</div>
		</div>

		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconMondo.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="regionsNum"></span> regions
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map"></div>
			</div>
		</div>

		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconCpu.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="coresNum"></span> core
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-cpu"></div>
			</div>
		</div>

		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconRam.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="ramNum"></span> Mb
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-ram"></div>
			</div>
		</div>

		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconDisk.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="hdNum"></span> Gb
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-disk"></div>
			</div>
		</div>

		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconVM.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="vmNum"></span> VM
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-vm"></div>
			</div>
		</div>

		<!--<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconWeb.png" height="55"/>
				</div>
				<div class="centerDetail">
					46/101 GE in use
				</div>
				<div class="barPercentage">
					<div class="orange" style="width:45%">45%</div>
					<div class="blue" style="width:55%">&nbsp;</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-ge"></div>
			</div>
		</div>-->
