    <section class="media-1"><h3 class="media-heading">
      FI-Lab Nodes
    </h3>
    <span>
      FI-Lab is a working instance of FI-WARE available for experimentation. FI-Lab is hosted on multiple nodes across Europe. 
    </span>
    <p>
      This page provides a real time infographics of the capacities of FI-Lab nodes.
    </p>
  </section>
        <!--<div class="help-bar">
          <div class="help-box span3">
            <%= link_to (raw('
              <img src="/assets/status.png">
              <div>
                <h4>FI-Lab status</h4>
                  Check the status of FI-Lab
              </div>')), '/status' %>
          </div>
           <div class="help-box nst span3">
            <a href="/" target="_blank">
              <img src="/assets/map.png">
              <div>
                <h4>FI-Lab nodes</h4>
                  Who are FI-Lab nodes
              </div>
            </a>
          </div>
          <div class="help-box nst span3">
            <a href="https://www.fi-xifi.eu/fi-ops.html" target="_blank">
              <img src="/assets/fi-ops.png">
              <div>
                <h4>Operate FI-Lab</h4>
                  Learn about FI-Ops
              </div>
            </a>
          </div>
          <div class="help-box nst span3">
            <a href="https://www.fi-xifi.eu/fi-ops.html" target="_blank">
              <img src="/assets/join.png">
              <div>
                <h4>Be part of FI-Lab</h4>
                  Connect your node to FI-Lab
              </div>
            </a>
          </div>
          <div class="clear"></div>
        </div>-->

<div class="layoutContainer">
	<div class="row-fluid">
	  <div class="span6" style="margin: 0 auto;float: none;">
		<div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconOmino.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="usersNum"></span> users
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel smallPanel">
				<div id="biggerMen"></div>
				<div id="bigMen"></div>
				<div id="mediumMen"></div>
				<div id="smallMen"></div>
			</div>
		    </div>
		    
		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconOrg.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="orgsNum"></span> organizations
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel smallPanel">
				<div id="biggerOrg"></div>
				<div id="bigOrg"></div>
				<div id="mediumOrg"></div>
				<div id="smallOrg"></div>
			</div>
		    </div>

		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconMondo.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="regionsNum"></span> regions
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map"></div>
			</div>
		    </div>

		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconCpu.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="coresNum"></span> core
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-cpu"></div>
			</div>
		    </div>

		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconRam.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="ramNum"></span> Mb
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-ram"></div>
			</div>
		    </div>

		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconDisk.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="hdNum"></span> Gb
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-disk"></div>
			</div>
		    </div>

		    <div class="section">
			<div class="headerSection accordionTitle">
				<div class="leftIcon">
					<img src="/assets/infographic/iconVM.png" height="55"/>
				</div>
				<div class="rightDetail">
					<span id="vmNum"></span> VM
				</div>
				<div class="clear"></div>
			</div>
			<div class="bodySection accordionPanel bigPanel">
				<div id="world-map-vm"></div>
			</div>
		    </div>

	  </div>
</div>
        

<!--<section class="infographic">
    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconOmino.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="usersNum"></span> users
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel smallPanel">
		<div id="biggerMen"></div>
		<div id="bigMen"></div>
		<div id="mediumMen"></div>
		<div id="smallMen"></div>
	</div>
    </div>
    
    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconOrg.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="orgsNum"></span> organizations
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel smallPanel">
		<div id="biggerOrg"></div>
		<div id="bigOrg"></div>
		<div id="mediumOrg"></div>
		<div id="smallOrg"></div>
	</div>
    </div>

    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconMondo.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="regionsNum"></span> regions
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel bigPanel">
		<div id="world-map"></div>
	</div>
    </div>

    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconCpu.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="coresNum"></span> core
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel bigPanel">
		<div id="world-map-cpu"></div>
	</div>
    </div>

    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconRam.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="ramNum"></span> Mb
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel bigPanel">
		<div id="world-map-ram"></div>
	</div>
    </div>

    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconDisk.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="hdNum"></span> Gb
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel bigPanel">
		<div id="world-map-disk"></div>
	</div>
    </div>

    <div class="section">
	<div class="headerSection accordionTitle">
		<div class="leftIcon">
			<img src="/assets/infographic/iconVM.png" height="55"/>
		</div>
		<div class="rightDetail">
			<span id="vmNum"></span> VM
		</div>
		<div class="clear"></div>
	</div>
	<div class="bodySection accordionPanel bigPanel">
		<div id="world-map-vm"></div>
	</div>
    </div>

    
</section>

<section class="partners">
	<div class="section">
		<div class="headerSection accordionTitle">
			<div class="leftIcon">
				<div class="partnerType">
					<h3>Institutional</h3>
				</div>
			</div>
			<div class="rightDetail">
				<span class="badge">14</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="bodySection accordionPanel bigPanel">
			<div class="parternList">
			</div>
		</div>
		
	</div>
 
	<div class="section">
		<div class="headerSection accordionTitle">
			<div class="leftIcon">
				<div class="partnerType">
					<h3>Gold</h3>
				</div>
			</div>
			<div class="rightDetail">
				<span class="badge">10</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="bodySection accordionPanel bigPanel">
			<div class="parternList">
			</div>
		</div>		
	</div>
	
	<div class="section">
		<div class="headerSection accordionTitle">
			<div class="leftIcon">
				<div class="partnerType">
					<h3>Silver</h3>
				</div>
			</div>
			<div class="rightDetail">
				<span class="badge">10</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="bodySection accordionPanel bigPanel">
			<div class="parternList">
			</div>
		</div>		
	</div>
	
	<div class="section">
		<div class="headerSection accordionTitle">
			<div class="leftIcon">
				<div class="partnerType">
					<h3>Bronze</h3>
				</div>
			</div>
			<div class="rightDetail">
				<span class="badge">10</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="bodySection accordionPanel bigPanel">
			<div class="parternList">
			</div>
		</div>		
	</div>
</section>
<div class="clear"></div>-->
