
<div class="title">Federation Services <span class="status"><img src="/assets/infographic/graylight.png" height="22"/></span></div>

<DIV ID="status-federation">
		  
	<DIV CLASS='status-row status-row-header'>
		<DIV CLASS='field field-header field-header-federation'>Messages</DIV>
		<DIV CLASS='field field-header field-header-federation'>Cloud Portal</DIV>
		<DIV CLASS='field field-header field-header-federation'>Paas</DIV>
		<DIV CLASS='field field-header field-header-federation'>Cinder</DIV>
		<DIV CLASS='field field-header field-header-federation'>Glance</DIV>
		<DIV CLASS='field field-header field-header-federation'>Monitoring</DIV>
		<DIV CLASS='field field-header field-header-federation'>IdM</DIV>
	</DIV>

	<a name="tableNodes"></a>
	<DIV id="tableContentFederation">
		
		<DIV CLASS='status-row row-status-service row-status-closed'>
			
			
			<DIV CLASS='field field-group field-group-federation'>
				<IMG CLASS='field-group-federation-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>		
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
	</DIV>
			  
</DIV>

<div class="title">Nodes</div>
<div id="world-map-nodes"></div>

<DIV ID="status">
		  
	<DIV id="tableHeaderContent" CLASS='status-row status-row-header'>
		<!--<DIV CLASS='field field-header field-header-node'>Node</DIV>
		<DIV CLASS='field field-header field-header-overall'>Overall</DIV>
		<DIV CLASS='field field-header field-header-service'>Nova</DIV>
		<DIV CLASS='field field-header field-header-service'>Neutron</DIV>
		<DIV CLASS='field field-header field-header-service'>Cinder</DIV>
		<DIV CLASS='field field-header field-header-service'>Glance</DIV>
		<DIV CLASS='field field-header field-header-service'>IdM</DIV>
		<DIV CLASS='field field-header field-header-support'>Support</DIV>-->
	</DIV>

	
	<DIV id="tableContent">
		
		<!--<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Trento'>Trento</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/yellowlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Berlin'>Berlin</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/yellowlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Paris'>Paris</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			General Problems.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Madrid'>Madrid</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			Under Maintenance.
		</DIV>-->
	</DIV>
			  
</DIV>

<div id="popupDialog" title="Jira Ticket" style="display:none;">
  <p>
     <label for="widgetName">Open a new ticket for the selected node:</label>
     <textarea name="ticketText" cols="40" rows="5"></textarea>
  </p>
</div>