<!--
<div class="title">Federation Services <span class="status"><img src="/assets/infographic/graylight.png" height="22"/></span></div>

<DIV ID="status-federation">
		  
	<DIV CLASS='status-row status-row-header'>
		<DIV CLASS='field field-header field-header-federation'>Messages</DIV>
		<DIV CLASS='field field-header field-header-federation'>Cloud Portal</DIV>
		<DIV CLASS='field field-header field-header-federation'>Paas</DIV>
		<DIV CLASS='field field-header field-header-federation'>Monitoring</DIV>
		<DIV CLASS='field field-header field-header-federation'>Keystone Proxy</DIV>
	</DIV>

	<a name="tableNodes"></a>
	<DIV id="tableContentFederation">
		
		<DIV CLASS='status-row row-status-service row-status-closed'>
			
			
			<DIV CLASS='field field-group field-group-federation'>
				<IMG CLASS='field-group-federation-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-federation'><img src="/assets/infographic/graylight.png" height="25"/></DIV>		
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
	</DIV>
			  
</DIV>
-->

<div class="title">Nodes</div>
<div id="world-map-nodes"></div>
<div id="errorMessage"></div>
<DIV ID="status">
		  
	<DIV id="tableHeaderContent" CLASS='status-row status-row-header'>
		<DIV CLASS='field field-header field-header-node'>Node</DIV>
		<DIV CLASS='field field-header field-header-overall'>Overall</DIV>
		<DIV CLASS='field field-header field-header-service'>Nova</DIV>
		<DIV CLASS='field field-header field-header-service'>Neutron</DIV>
		<DIV CLASS='field field-header field-header-service'>Cinder</DIV>
		<DIV CLASS='field field-header field-header-service'>Glance</DIV>
		<DIV CLASS='field field-header field-header-service'>Keystone P.</DIV>
		<DIV CLASS='field field-header field-header-support'>Support</DIV>
	</DIV>

	
	<DIV id="tableContent">
		
		<!--<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Trento'>Trento</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/yellowlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Berlin'>Berlin</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/yellowlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			For the moment there are no messages.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Paris'>Paris</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/greenlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			General Problems.
		</DIV>
		<DIV CLASS='status-row row-status-service row-status-closed'>
			<DIV CLASS='field field-group field-group-expand'>
				<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
			</DIV>
			<DIV CLASS='field field-service field-service-node Madrid'>Madrid</DIV>
			<DIV CLASS='field field-service field-service-overall'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-field'><img src="/assets/infographic/redlight.png" height="25"/></DIV>
			<DIV CLASS='field field-service field-service-status-support'>
				<img src="/assets/infographic/help.png" height="30" onclick="$('#popupDialog').dialog('open');"/>
				<img src="/assets/infographic/jira.png" height="30" onclick="alert('go to jira');"/>
			</DIV>			
		</DIV>
		<DIV CLASS='row-message'>
			Under Maintenance.
		</DIV>-->
	</DIV>
			  
</DIV>

<!--<div id="popupDialog" title="Jira Ticket" style="display:none;">
  <p>
     <label for="widgetName">Open a new ticket for the selected node:</label>
     <textarea name="ticketText" cols="40" rows="5"></textarea>
  </p>
</div>-->



















<% content_for :jsfooter do %>
  <script type="text/javascript">

	  $(document).ready(function() 
	  {
		  var contextPath = "";
		  
		  $('.infographic').removeClass('active');
		  $('.status').addClass('active');
		  

		  var selectedMarkers = [];
		  
		  var mapNodes = new jvm.WorldMap({
		  container: $('#world-map-nodes'),
		  map: 'world_mill_en',
		  regionStyle: {
			    initial: {
			      fill: '#ffffff',
			      "fill-opacity": 1,
			      stroke: 'none',
			      "stroke-width": 0,
			      "stroke-opacity": 1
			    },
			    hover: {
			      "fill-opacity": 0.8
			    },
			    selected: {
				  fill: 'orange'
			    },
			    selectedHover: {
			    }
		  },
		  markerStyle: {
			initial: {
			  fill: '#ff9900',
			  stroke: '#383f47'
			}
		  },
		  onMarkerClick: function(events, index) {
  // 		    alert(selectedMarkers[index].name);
		      var aTag = $("a[name='"+selectedMarkers[index].name+"']");
		      $('html,body').animate({scrollTop: aTag.offset().top},'slow');
		      $('.field-service').css('text-weight','normal');
		      $('.field-service').css('color','#8C8C8C');
		      $('.'+selectedMarkers[index].name).css('text-weight','bold');
		      $('.'+selectedMarkers[index].name).css('color','black');	    
		  }//,
		  /*series: {
			    regions: [{values: {"IT":20,"DE":90},
			  // attribute:'fill',
  //				      scale: ['#C8EEFF', '#0071A4'],
  // 					      scale: {
  // 							  84: '#4169E1',
  // 							  64: '#FF69B4'
  // 							},
  //				      normalizeFunction: 'linear'
			    }]
		  }	*/		     

		  });
		  
		  $('#world-map-nodes').vectorMap('set', 'focus', 4.3, 0.5, 0.3);
		  

		  function ajaxFun() { $.ajax (
			    {
				  type: "GET",
				  url: "../api/v1/region/services",
				  contentType: "application/json; charset=utf-8",
				  data: {},
				  dataType: "json",
				  cache: false,
				  success: function(json){
				  
					  var allHeaders = "";
					  var allRows = "";
					  var servicesNames = Object.keys(json[Object.keys(json)[0]]["services"]);//I will get Nova,Cinder,...
					  selectedMarkers = [];
					  
					  $.each(json, function(idRegion, regionAttributes) {
						  if(idRegion != null && regionAttributes != null)
						  {
							  var markers = {};
							  markers["latLng"] =  [parseFloat(regionAttributes['latitude']),parseFloat(regionAttributes['longitude'])];
							  markers["name"] = idRegion;
							  var statusColor;
							  if(regionAttributes["services"]['overallStatus']['value']=="red") statusColor = 'rgba(255,0,0,1.0)';
							  else if(regionAttributes["services"]['overallStatus']['value']=="green") statusColor = 'rgba(0,255,0,1.0)';
							  else if(regionAttributes["services"]['overallStatus']['value']=="yellow") statusColor = 'rgba(255,255,0,1.0)';
							  else if(regionAttributes["services"]['overallStatus']['value']=="gray") statusColor = 'rgba(0,0,0,0.5)';
							  
							  markers["style"] = {fill: statusColor, r:5};
							  selectedMarkers.push(markers);
							  
							  
							  var allSubRows = "";
							  
  // 							$.each(regionAttributes["services"], function(serviceName, valSub) {
  // 								if(serviceName != null && valSub != null)
  // 								{
  // 									console.log(serviceName);
  // 									var colorValue = valSub["value"];
  // 									var colorPng = colorValue + "light.png";
  // 									
  // 									if(serviceName == "overallStatus")
  // 									{
  // 										var colorValue = valSub;
  // 										var colorPng = colorValue + "light.png";
  // 										allSubRows = "<DIV CLASS='field field-service field-service-overall'><img src=\"/assets/infographic/"+colorPng+"\" height=\"25\"/></DIV>" + allSubRows;
  // 									}
  // 									
  // 									
  // 									else allSubRows = allSubRows + "<DIV CLASS='field field-service field-service-status-field'><img src=\"/assets/infographic/"+colorPng+"\" height=\"25\"/></DIV>";
  // 									
  // 								}
  // 							});
							  
							  
							  
							  var colorValueOverall = regionAttributes["services"]["overallStatus"]['value'];
							  var colorPng = colorValueOverall + "light.png";
							  allSubRows = "<DIV CLASS='field field-service field-service-overall'><img src=\"/assets/infographic/"+colorPng+"\" height=\"25\"/></DIV>" + allSubRows;
							  
							  
  // 							console.log(servicesNames);
							  $.each(servicesNames, function( index, value ) {
								  if(value != "overallStatus")
								  {
									  colorPng = regionAttributes["services"][value]["value"]+"light.png";
									  allSubRows = allSubRows + "<DIV CLASS='field field-service field-service-status-field'><img src=\"/assets/infographic/"+colorPng+"\" height=\"25\"/></DIV>";
								  }
							  });
							  
							  var jira_url = regionAttributes["services"]["overallStatus"]["jira_project_url"]
							  if( !jira_url) jira_url = "#";
							  
							  allRows = allRows + "<DIV CLASS='status-row row-status-service row-status-closed'>"+
								  "<DIV CLASS='field field-group field-group-expand'>"+
									  "<!--<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>-->"+
								  "</DIV>"+"<a name=\""+idRegion+"\"></a>"+
								  "<DIV CLASS='field field-service field-service-node "+idRegion+"'>"+idRegion+"</DIV>"+
								  
								  allSubRows+/*encodeURIComponent(JSON.stringify(regionAttributes["allNodes"]))*/
								  
								  "<DIV CLASS='field field-service field-service-status-support'>"+
									  "<img src=\"/assets/infographic/help.png\" height=\"30\" onclick=\"var theDialog = $('#atlScriptlet').data('regionSelected','"+idRegion+"'); theDialog.dialog('open');\" style=\"cursor:pointer;\" title=\"Report an issue\" alt=\"Report an issue\"/>"+
									  "<img src=\"/assets/infographic/jira.png\" height=\"30\" onclick=\"window.location.href ='"+jira_url+"';\" style=\"cursor:pointer;\" title=\"Browse open issues\" alt=\"Browse open issues\"/>"+
								  "</DIV>"+			
							  "</DIV>"+
							  "<!--<DIV CLASS='row-message'>"+
								  regionAttributes["services"]["overallStatus"]['description']+
							  "</DIV>-->";
						  }
						  
						  /*var allSubHeaders = "";
						  $.each(servicesNames, function( index, value ) {
							  if(value != "overallStatus")
							  {
								  allSubHeaders = allSubHeaders + "<DIV CLASS='field field-header field-header-service'>"+value+"</DIV>";
							  }
						  });
							 */ 
// 						  allHeaders = "<DIV CLASS='field field-header field-header-node'>Node</DIV>"+
// 						  "<DIV CLASS='field field-header field-header-overall'>Overall</DIV>"+
// 						  
// 						  allSubHeaders+
// 						  
// 						  "<DIV CLASS='field field-header field-header-support'>Support</DIV>";
// 						  
// 						  $('#tableHeaderContent').html(allHeaders);
						  $('#tableContent').html(allRows);
						  $('#errorMessage').html("");
						  
						  var height = $('#world-map-nodes').height()+$('#status').height()+80;
						  $('.wrapper').css("cssText", "height: "+height+"px !important;");
						  
					  });
					  
					  mapNodes.removeAllMarkers();
					  mapNodes.addMarkers(selectedMarkers);
					  
					  $(".row-message").hide();
					  $('.field-group-federation').click( function()
					  {
						  var $image = $(this).children();
						  if( $image.hasClass('collapse' ) )
						  {
							  $image.removeClass('collapse' );
							  $image.addClass('expand' );
						  }
						  else
						  {
							  $image.removeClass('expand' );
							  $image.addClass('collapse' );
						  }
						  var $parent = $(this).parent();
						  
						  var $message = $parent.next(".row-message");
						  $message.slideToggle(function()
						  {
							  if( $parent.hasClass('row-status-closed' ) )
							  {
								  $parent.removeClass('row-status-closed' );
								  $parent.addClass('row-status-opened' );
							  }
							  else
							  {
								  $parent.removeClass('row-status-opened' );
								  $parent.addClass('row-status-closed' );
							  }
						  });
					  });
					  $('.field-group-expand').click( function()
					  {
						  var $image = $(this).children();
						  if( $image.hasClass('collapse' ) )
						  {
							  $image.removeClass('collapse' );
							  $image.addClass('expand' );
						  }
						  else
						  {
							  $image.removeClass('expand' );
							  $image.addClass('collapse' );
						  }
						  var $parent = $(this).parent();
						  
						  var $message = $parent.next(".row-message");
						  $message.slideToggle(function()
						  {
							  if( $parent.hasClass('row-status-closed' ) )
							  {
								  $parent.removeClass('row-status-closed' );
								  $parent.addClass('row-status-opened' );
							  }
							  else
							  {
								  $parent.removeClass('row-status-opened' );
								  $parent.addClass('row-status-closed' );
							  }
						  });
					  });
					  
					  
				  },
				  error: function(xhr, textStatus, errorThrown){
  // 				    $('#tableHeaderContent').html("<DIV CLASS='field field-header field-header-node'><%= FiLabInfographics.nodata %></DIV>");
				      var errore = "<%= FiLabInfographics.nodata %>";
				      if(xhr.responseText != null && xhr.responseText != "" && xhr.responseText != "null")
					      errore = xhr.responseText;
// 				      $('#tableHeaderContent').html("<DIV CLASS='field field-header'>"+errore+"</DIV>");
				      $('#errorMessage').html(errore);
  //     				alert('request failed->'+textStatus);
  //     				console.log(xhr.status + ' çççç'+xhr.body+'òòòò' + textStatus + ' ' + errorThrown);
				  } 
			    }
			      
		  )};

		//Chiamo il mio ajax la prima volta
		ajaxFun();
		//e poi lo richiamo dopo 30 secondi
		setInterval(function(){ajaxFun()}, 60000);
	  });
			      
			      
			      
			      
			      
  /*	
	  var markers = {};
	  markers["latLng"] = [46.06787, 11.12108];
	  markers["name"] = 'Trento';
	  markers["style"] = {fill: 'rgba(255,0,0,1.0)', r:5};
	  selectedMarkers.push(markers);
	  var markers = {};
	  markers["latLng"] = [52.30000, 13.25000];
	  markers["name"] = 'Berlin';
	  markers["style"] = {fill: 'rgba(0,255,0,1.0)', r:5};
	  selectedMarkers.push(markers);
	  var markers = {};
	  markers["latLng"] = [48.86667, 2.33333];
	  markers["name"] = 'Paris';
	  markers["style"] = {fill: 'rgba(255,255,0,1.0)', r:5};
	  selectedMarkers.push(markers);
	  var markers = {};
	  markers["latLng"] = [40.4, -3.68333];
	  markers["name"] = 'Madrid';
	  markers["style"] = {fill: 'rgba(0,0,0,0.5)', r:5};
	  selectedMarkers.push(markers);
		  
	  

		  
		  mapNodes.addMarkers(selectedMarkers);
		  */
		  
		  
	  
		  
  </script>
<% end %>
