<!-- replace_contents 'footer' -->

<footer>
<div>
  <%= Date.today.year %> 
  © 
  <%= link_to 'FIWARE', 'http://www.fi-ware.org/' %> & <%= link_to 'FIWARE OPS', 'http://www.fi-ops.org' %>. 
  The use of FIWARE LAB services is subject to the acceptance of the
  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions"> 
    Terms and Conditions
  </a>
  and 
  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">
    Personal Data Protection Policy
  </a>
</div>
</footer>

<% if @attributesRegionsVms != nil then %>
<script type="text/javascript">
	$(document).ready(function() 
	{
	      function ajaxFun() { $.ajax (
			  {
			    type: "GET",
			    url: "../api/v1/region/vm",
			    contentType: "application/json; charset=utf-8",
			    data: {},
			    dataType: "json",
			    cache: false,
			    success: function(json){
			      //console.log(json);

			      var allRows = "";

			      $.each(json, function(key, val) {
				if(key != null && val != null)
				{
				    var allSubRows = "";

				    $.each(val, function(keySub, valSub) {
				      if(keySub != null && valSub != null)
				      {console.log(key);
					  allSubRows = allSubRows + "<DIV CLASS='row-current row-service'>"+
					    "<DIV CLASS='field field-service field-service-region'></DIV>"+
					    "<DIV CLASS='field field-service field-service-id'>"+keySub+"</DIV>"+
					    "<DIV CLASS='field field-service field-service-gauge'><div id=\"chart_div_cpu_"+keySub+"\" style=\"padding-left: 6px\"></div></DIV>"+
					    "<DIV CLASS='field field-service field-service-gauge'><div id=\"chart_div_ram_"+keySub+"\" style=\"padding-left: 6px\"></div></DIV>"+
					    "<DIV CLASS='field field-service field-service-field'>"+valSub["VHDD Free space"]+"</DIV>"+
					    "<DIV CLASS='field field-service field-service-gauge'><div id=\"chart_div_pro_"+keySub+"\" style=\"padding-left: 6px\"></div></DIV>"+
				    "</DIV>"+

				    "<script type='text/javascript'>"+

					  "google.load('visualization', '1', {packages:['gauge','corechart']});"+
					  "google.setOnLoadCallback(drawChart);"+
					  "function drawChart() {"+

					    "var options = {"+
					      "width: 100, height: 120,"+
					      "redFrom: 90, redTo: 100,"+
					      "yellowFrom:75, yellowTo: 90,"+
					      "minorTicks: 5"+
					    "};"+

					    "var dataCpu = google.visualization.arrayToDataTable(["+
					      "['Label', 'Value'],"+
					      "['CPU', "+valSub["CPU Load"].slice(0,-1)+"]"+
					    "]);"+

					    "var dataRam = google.visualization.arrayToDataTable(["+
					      "['Label', 'Value'],"+
					      "['RAM',"+ valSub["Used RAM Memory"].slice(0,-1)+"]"
+					    "]);"+

					    "var dataProcesses = google.visualization.arrayToDataTable(["+
					     " ['Proc', 'Processes'],"+
					      "['',"+ parseInt(["Total Proccess"])+"]"+
					    "]);"+

					    "var chartCpu = new google.visualization.Gauge(document.getElementById('chart_div_cpu_"+keySub+"'));"+
					    "chartCpu.draw(dataCpu, options);"+

					    "var chartRam = new google.visualization.Gauge(document.getElementById('chart_div_ram_"+keySub+"'));"+
					    "chartRam.draw(dataRam, options);"+

					    "var chartColumn = new"+ "google.visualization.ColumnChart(document.getElementById('chart_div_pro_"+keySub+"'));"+
					    "chartColumn.draw(dataProcesses,{width:100, height:95, vAxis:{maxValue:200,minValue:0}});"+ 
					  "}"+"<\/script>";
				      }
				    })

				    allRows = allRows + "<DIV ID='current-group-"+key+"' CLASS='row-current row-group'>"+
				  "<DIV CLASS='field field-group field-group-expand' onClick='toggleGroup(this)'>"+
					  "<IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>"+
				  "</DIV>"+
				  "<DIV CLASS='field field-group field-group-region'>"+key+"</DIV>"+
				  "<DIV CLASS='field field-group field-group-id'></DIV>"+
				  "<DIV CLASS='field field-group field-group-field'></DIV>"+
				  "<DIV CLASS='field field-group field-group-field'></DIV>"+
				  "<DIV CLASS='field field-group field-group-field'></DIV>"+
			  "</DIV>"+
			  "<DIV ID='current-services-"+key+"' CLASS='collapsed'>"+allSubRows+"<\/DIV>";
				}
			      })

			      $('#tableContent').html(allRows);
			    }
			   }
	      )};

	      //Chiamo il mio ajax la prima volta
	      ajaxFun();
	      //e poi lo richiamo dopo 10 secondi
	      setInterval(function(){ajaxFun()}, 10000);
	});
</script>


<% else %>
  <%= yield :jsfooter %>
<% end %>
