#current
{
	margin-top:25px;
}
.collapsed
{
	display:none;
}
/* {{{ rows */
.row-current
{
/* 	width:800px; */
	width:585px;
	height:30px;
	line-height:30px;
}
.row-header
{
	border:1px solid #CFCFCF;
	background-color:#ECEFF2;
}
.row-group
{
	border:1px solid #CFCFCF;
	border-top-style:none;
}
.row-service
{
	height:97px;
	border:1px solid #CFCFCF;
	border-top-style:none;
}
/* }}} */
/* {{{ fields */
.field
{
	display:inline;
	float:left;
	height:30px;
}
.field-header
{
	color: #006699;
	font-size:10px;
	font-weight:bold;
}
.field-header-id
{
	width:60px;
	margin-left:30px;
	text-align:center;
}
.field-header-region
{
	width:40px;
	margin-left:5px;
}
.field-header-field
{
	margin-left:30px;
	width:80px;
	text-align:center;
}
.field-group
{
}
.field-group-expand
{
	margin-left:4px;
	width:16px;
	cursor:pointer;
	cursor:hand;
}
.field-group-expand-padding
{
	margin-left:4px;
	width:32px;
}
.field-group-expand-icon
{
	margin-top:7px;
}
.field-group-region
{
	margin-left:4px;
	width:40px;
}
.field-group-id
{
	width:90px;
}
.field-group-message
{
	margin-left:8px;
	width:275px;
}
.field-group-status-icon
{
	margin-top:7px;
}
.field-group-field
{
	/*margin-left:24px;*/
	width:110px;
	text-align:center;
}
.field-service
{
}
.field-service-region
{
	margin-left:24px;
	width:40px;
}
.field-service-id
{
/* 	margin-left:24px; */
	padding-top: 35px ;
	width:90px;
}
.field-service-message
{
	margin-left:8px;
	width:251px;
}
.field-service-status-icon
{
	margin-top:7px;
}
.field-service-gauge
{
	width:107px;
	text-align:center;
}
.field-service-field
{
	padding-top: 35px ;
	width:107px;
	text-align:center;
}
/* }}} */
img.sprite
{
	background:url('/assets/infographic/status-icons.png') no-repeat;
	border:0;
	height:16px;
	width:16px;
}
img.status-3
{
	background-position:0 -16px;
}
img.status-2
{
	background-position:0 -80px;
}
img.status-1
{
	background-position:0 -64px;
}
img.status-4
{
	background-position:0 -48px;
}
/* Investigating Status */
img.status-5
{
	background-position:0 -96px;
}
/* Monitoring Status */
img.status-6 {
	background-position: 0 -112px;
}
img.info
{
	background-position:0 -32px;
}
img.collapse
{
	background-position:-16px 0;
	width:10px;
	margin-top:11px;
}
img.expand
{
	background-position:-26px 0;
	width:10px;
	margin-top:11px;
}
.link-box
{
	margin-top: 4px;
	font-size:11px;
	font-weight:normal;
	float:right;
}
.date-box
{
	margin:0 0 7px 0;
	width: 800px;
	height:20px;
}
.header-box
{
	float:left;
}
a.bookmark-link-active
{
	color:#000000;
	text-decoration:none;
}
a.bookmark-link-active:hover
{
	color:#0066CC;
	text-decoration:underline;
}
a.bookmark-link-inactive, a.bookmark-link-inactive:hover
{
    color:#000000;
    text-decoration:none;
    cursor:default;
}
/* RSS Feed Link */
div.rss-link {
	display: inline-block;
	margin-left: 8px;
	font-weight: normal;
	background: url('/images/rss-icon.png') no-repeat left 1px;
	padding-left: 17px;
}
/* Other Rackspace Status Sites */
div.status-sites {
	background-color: #E0F2F7;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
ul.inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.inline li {
	display: inline;
	margin-left: 6px;
}
ul.inline li:first-child {
	margin-left: 0;
}