body {
	/*background-color: #FCFCFC;*/
}

.clear {
	clear: both;
}

#content {
	width: 585px;/*716px;
	margin: 0 auto;*/
}

.title {
	font-family: "Share Tech", sans-serif;
	color: #006699;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*welcome page*/
.section {
  font-family: "Share Tech", sans-serif;
  font-size: 16px;
}

.headerSection {
	height: 98px;
	background: url("/assets/infographic/headerSection.png") no-repeat;
}

.bodySection {
	background: url("/assets/infographic/backgroundSection.png") repeat-y;
}

.smallPanel {
	height: 200px;
}

.bigPanel {
	height: 400px;
}

.leftIcon {
	float: left;
	margin: 17px 17px 17px 17px;
	width: 76px;
}

.leftIcon img {
  height: 55px;
}

.centerDetail {
	float: left;
	color: #006699;
	font-size: 20px;
	font-weight: bold;
	margin-top: 34px;
	margin-right: 17px;
}

.rightDetail {
	float: right;
	color: #006699;
	font-size: 20px;
	font-weight: bold;
	margin-top: 34px;
	margin-right: 17px;
}

.barPercentage {
	float: right;
	color: #006699;
	font-size: 20px;
	font-weight: bold;
	margin-top: 22px;
	margin-right: 17px;
	height: 45px;
	width: 250px;
}

.orange {
	float: left;
	background-color: #ff9900;
	text-align: right;
	height: 32px;
	padding-top: 13px;
}

.blue {
	float: left;
	background-color: #006699;
	height: 45px;
}

#bigMen {
	text-align: center;
	padding-top: 20px;
}

#bigMen img {
	height: 55px;
	margin-right: 5px;
}

#mediumMen {
	text-align: center;
	margin-top: 5px;
}

#mediumMen img {
	height: 45px;
	margin-right: 5px;
}

#smallMen {
	text-align: center;
	margin-top: 5px;
}

#smallMen img {
	height: 35px;
	margin-right: 5px;
}

#world-map {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

#world-map-cpu {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

#world-map-ram {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

#world-map-disk {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

#world-map-vm {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

#world-map-ge {
	padding: 17px 17px 0px 26px;
	width:545px;
	height:366px;
}

/*status page*/
.status img
{
	height: 22px;
}

#status-federation
{
	margin-top:25px;
	margin-bottom:25px;
}

.field-header-federation
{
	width:116px;
	text-align:center;
}

.field-service-status-federation
{
	width:116px;
	text-align:center;
}

.field-group-federation
{
	width:116px;
	cursor:pointer;
	cursor:hand;
	text-align:center;
}

#world-map-nodes {
	padding: 17px 0px 0px 0px;
	width:585px;
	height:366px;
}

#status
{
	margin-top:25px;
}

/* {{{ rows */
.status-row
{
/* 	width:800px; */
	width:585px;
	height:30px;
	line-height:30px;
}
.status-row-header
{
	border:1px solid #CFCFCF;
	background-color:#ECEFF2;
}
.row-status-service
{
	border:1px solid #CFCFCF;
	border-top-style:none;
}
.row-status-opened
{
	
}
.row-status-closed
{
	
}
.row-message
{
	padding-left: 24px;
	width:561px;
	height:60px;
	line-height:30px;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	border-bottom:1px solid #CFCFCF;
}

.field-header-node
{
	width:90px;
	text-align:center;
}
.field-header-overall
{
	width:70px;
	text-align:center;
}
.field-header-service
{
	width:70px;
	text-align:center;
}
.field-header-support
{
	width:74px;
	text-align:center;
}
.field-service img
{
	padding-top:3px;
	height:24px;
}
.field-service-node
{
	margin-left:4px;
	width:66px;
}
.field-service-overall
{
/* 	margin-left:24px; */
	text-align:center;
	width:70px;
}
.field-service-status-field
{
	width:70px;
	text-align:center;
}
.field-service-status-support
{
	width:74px;
	text-align:center;
}