.atlwdg-popup{
  border: 0px !important;
}
body {
	/*background-color: #FCFCFC;*/
}

/* [INI] D3 Charts */

svg {
  font-family: "Helvetica Neue", Helvetica;
}

.chartTitle {
  font-weight: bold;
}

.chartOptions {
  margin-top: 10px;
}

.chartVisible {
  display: block;
}

.chartHidden {
  display: none;
}

/* Calendar */
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(255,0,0)} /*rgb(165,0,38)*/
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(252,252,14)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,255,0)} /*rgb(0,104,55)*/

/* Bar */
.bar {
  fill: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* [END] D3 Charts */

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

footer {
	margin-top: 30px;
}

.layoutContainer {
	margin-top: 10px;
}

section.infographic {
/*         margin-top: 10px; */
/*         width: 535px; */
	top: 0;
	left: 0;
	min-width: 310px;
	width: 49%;
	margin-right: 2%;
        display: inline-block;
	float:left;
}

/*.row-fluid .span6 {
	margin: 0 auto;
	float: none;
}*/

section.partners {
/*         margin-top: 10px; */
        display: inline-block;
	float:left;
	width: 49%;
	min-width: 310px;
}

.parternList {
  padding: 0px 10px 10px 20px;
/*   margin: auto; */
  text-align:center;
}

.parternList img{
  margin-top: 10px;
  width: 120px;
}

.title {
	color: #002D67;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*welcome page*/
.section {
  min-width: 310px;
  font-size: 16px;
}

.headerSection {
	height: 98px;
	background: url("/assets/infographic/headerSection.png") no-repeat;
}

.bodySection {
	background: url("/assets/infographic/backgroundSection.png") repeat-y;
}

.smallPanel {
/*	height: 230px; */
padding-bottom: 10px;
}

.bigPanel {
/* 	height: 400px; */
}

.leftIcon {
	float: left;
	margin: 17px 0px 17px 17px;
	width: 76px;
}

.leftIcon img {
  height: 55px;
}

.centerDetail {
	float: left;
	color: #002D67;
	font-size: 20px;
	font-weight: bold;
	margin-top: 34px;
	margin-right: 17px;
}

.rightDetail {
	float: right;
	color: #002D67;
	font-size: 20px;
	font-weight: bold;
	margin-top: 34px;
	margin-right: 17px;
}

.barPercentage {
	float: right;
	color: #002D67;
	font-size: 20px;
	font-weight: bold;
	margin-top: 22px;
	margin-right: 17px;
	height: 45px;
	width: 250px;
}

.orange {
	float: left;
	background-color: #ff9900;
	text-align: right;
	height: 32px;
	padding-top: 13px;
}

.blue {
	float: left;
	background-color: #002D67;
	height: 45px;
}

#biggerOrg,#bigOrg,#mediumOrg,#smallOrg {
	text-align: center;
	padding-top: 5px;
}

#biggerOrg img {
	height: 45px;
	margin-right: 5px;
}

#bigOrg img {
	height: 35px;
	margin-right: 5px;
}

#mediumOrg img {
	height: 25px;
	margin-right: 5px;
}

#smallOrg img {
	height: 20px;
	margin-right: 5px;
}

#biggerMen,#bigMen,#mediumMen,#smallMen {
	text-align: center;
	padding-top: 5px;
}

#biggerMen img {
	height: 65px;
	margin-right: 5px;
}

/*#bigMen {
	text-align: center;
	padding-top: 5px;
}*/

#bigMen img {
	height: 55px;
	margin-right: 5px;
}

/*#mediumMen {
	text-align: center;
	padding-top: 5px;
}*/

#mediumMen img {
	height: 45px;
	margin-right: 5px;
}

/*#smallMen {
	text-align: center;
	padding-top: 5px;
}*/

#smallMen img {
	height: 35px;
	margin-right: 5px;
}

#world-map {
	padding: 17px 17px 0px 26px;
/* 	width:545px; */
/* 	height:366px; */
}

#world-map-cpu {
	padding: 17px 17px 0px 26px;
	/*width:545px;
	height:366px;*/
}

#world-map-ram {
	padding: 17px 17px 0px 26px;
	/*width:545px;
	height:366px;*/
}

#world-map-disk {
	padding: 17px 17px 0px 26px;
	/*width:545px;
	height:366px;*/
}

#world-map-vm {
	padding: 17px 17px 0px 26px;
	/*width:545px;
	height:366px;*/
}

#world-map-ge {
	padding: 17px 17px 0px 26px;
	/*width:545px;
	height:366px;*/
}

/*status page*/
.status img
{
	height: 22px;
}

#status-federation
{
	margin-top:25px;
	margin-bottom:25px;
}

.field-header-federation
{
	width:116px;
	text-align:center;
}

.field-service-status-federation
{
	width:116px;
	text-align:center;
}

.field-group-federation
{
	width:116px;
	cursor:pointer;
	cursor:hand;
	text-align:center;
}

#world-map-nodes {
	padding: 17px 0px 0px 0px;
	width:585px;
	height:366px;
}

#status
{
	margin-top:25px;
}

/* {{{ rows */
.status-row
{
/* 	width:800px; */
	width:585px;
	height:30px;
	line-height:30px;
}
.status-row-header
{
	border:1px solid #CFCFCF;
	background-color:#ECEFF2;
}
.row-status-service
{
	border:1px solid #CFCFCF;
	border-top-style:none;
}
.row-status-opened
{

}
.row-status-closed
{

}
.row-message
{
	padding-left: 24px;
	width:561px;
	height:60px;
	line-height:30px;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	border-bottom:1px solid #CFCFCF;
}

.field-header-node
{
	width:150px;
	text-align:center;
}
.field-header-overall
{
	width:60px;
	text-align:center;
}
.field-header-service
{
	width:60px;
	text-align:center;
}
.field-header-support
{
	width:74px;
	text-align:center;
}
.field-service img
{
	padding-top:3px;
	height:24px;
}
.field-service-node
{
	margin-left:4px;
	width:126px;
}
.field-service-overall
{
/* 	margin-left:24px; */
	text-align:center;
	width:60px;
}
.field-service-status-field
{
	width:60px;
	text-align:center;
}
.field-service-status-support
{
	width:74px;
	text-align:center;
}

section.media-1 h3 {
    font-family: "NeoTech-Regular";
    margin-bottom: 4px;
    color: #60c1cf;
    margin:0 0 5px
}

section.media-1 {
    background-color: #E2E2E2;
    margin-top: 18px;
    font-size: 12px;
    padding:10px 25px 5px 25px;
-moz-border-top-right-radius: 6px;
-webkit-border-top-right-radius: 6px;
border-top-right-radius: 6px;
-moz-border-top-left-radius: 6px;
-webkit-border-top-left-radius: 6px;
border-top-left-radius: 6px;
-moz-border-bottom-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-right-radius: 6px;
-moz-border-bottom-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
border-bottom-left-radius: 6px;
}

/* CSS for table in status page */
.collapsed
{
	display:none;
}
/* {{{ rows */
.row-current
{
/* 	width:800px; */
	width:585px;
	height:30px;
	line-height:30px;
}
.row-header
{
	border:1px solid #CFCFCF;
	background-color:#ECEFF2;
}
.row-group
{
	border:1px solid #CFCFCF;
	border-top-style:none;
}
.row-service
{
	height:97px;
	border:1px solid #CFCFCF;
	border-top-style:none;
}
/* }}} */
/* {{{ fields */
.field
{
	display:inline;
	float:left;
	height:30px;
}
.field-header
{
	color: #006699;
	font-size:10px;
	font-weight:bold;
}
.field-header-id
{
	width:60px;
	margin-left:30px;
	text-align:center;
}
.field-header-region
{
	width:40px;
	margin-left:5px;
}
.field-header-field
{
	margin-left:30px;
	width:80px;
	text-align:center;
}
.field-group
{
}
.field-group-expand
{
	margin-left:4px;
	width:16px;
/* 	cursor:pointer; */
	cursor:hand;
}
.field-group-expand-padding
{
	margin-left:4px;
	width:32px;
}
.field-group-expand-icon
{
	margin-top:7px;
}
.field-group-region
{
	margin-left:4px;
	width:40px;
}
.field-group-id
{
	width:90px;
}
.field-group-message
{
	margin-left:8px;
	width:275px;
}
.field-group-status-icon
{
	margin-top:7px;
}
.field-group-field
{
	/*margin-left:24px;*/
	width:110px;
	text-align:center;
}
.field-service
{
}
.field-service-region
{
	margin-left:24px;
	width:40px;
}
.field-service-id
{
/* 	margin-left:24px; */
	padding-top: 35px ;
	width:90px;
}
.field-service-message
{
	margin-left:8px;
	width:251px;
}
.field-service-status-icon
{
	margin-top:7px;
}
.field-service-gauge
{
	width:107px;
	text-align:center;
}
.field-service-field
{
	padding-top: 35px ;
	width:107px;
	text-align:center;
}
/* }}} */
img.sprite
{
	background:url('/assets/infographic/status-icons.png') no-repeat;
	border:0;
	height:16px;
	width:16px;
}
img.status-3
{
	background-position:0 -16px;
}
img.status-2
{
	background-position:0 -80px;
}
img.status-1
{
	background-position:0 -64px;
}
img.status-4
{
	background-position:0 -48px;
}
/* Investigating Status */
img.status-5
{
	background-position:0 -96px;
}
/* Monitoring Status */
img.status-6 {
	background-position: 0 -112px;
}
img.info
{
	background-position:0 -32px;
}
img.collapse
{
	background-position:-16px 0;
	width:10px;
	margin-top:11px;
}
img.expand
{
	background-position:-26px 0;
	width:10px;
	margin-top:11px;
}

label, input { display:block; }
input.text{ width:95%;}
.ui-widget-overlay {
    position:absolute;
    top:0;
    left:0;
    background:rgb(0, 0, 0);
    opacity: .50 !important;
    filter: Alpha(Opacity=50);
    height:1335px;
    width:100%;
}

.icon-required{
    color:red;
}

.ui-dialog { z-index: 1000 !important ;}

#errorMessage {
  color:red;
  font-weight:bold;
  margin-top:25px;
}

#cookie-law {
    background: none repeat scroll 0 0 rgba(44, 44, 44, 0.9);
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1040;
}
#cookie-law p {
    color: white;
    font-size: 15px;
    line-height: 19px;
    margin: 0 100px;
    padding: 10px;
    text-align: center;
}
#cookie-law a {
    color: white;
    font-weight: bold;
}
#close-cookie-banner {
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}
/*header.navbar nav.navbar-inner .brand {
    margin: 0 0 0 -8px !important;
    padding: 0 !important;
}

header.navbar nav.navbar-inner .filab-logo {
    margin-left: 0;
    margin-top: 2px;
    width: 158px !important;
}

#oil-nav {
    background-color: #f4f4f4;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 1px 8px rgba(50, 51, 51, 0.15);
    display: block;
    height: 39px;
    padding: 1px 2%;
    position: fixed;
    width: 96%;
    z-index: 2000000;
}

ul.oil-portal {
    float: left;
    height: 36px;
    margin-bottom: 0;
    margin-left: 3px;
    padding: 0;
    width: 650px;
}

ul.oil-portal li {
    display: inline-block;
    padding: 11px 18px 8px;
}

ul.oil-portal li.active {
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px -1px #f9f9f9;
    height: 22px;
}*/
